h1{
    background-color: red;
    height : 600px;
    width: 600px;
}

@media screen and (max-width:768px){
    h1{
        background-color: blue;
        font-size: larger;
    }
}

@media screen and (max-width:576px) {
    h1{
        background-color: green;
        font-size: smaller;
    }
    
}