body {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    background-color: rgb(233, 226, 219);

}

#main {
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.two{
      width:35vw;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 20px;
}

img {
    height: 150px;
    width: 150px;
    border-radius: 7px;
}

button {
    height: 2rem;
    width: 7rem;
    position: absolute;
    margin-top: 130px;
    margin-left: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid gray;
    background-color: white;
}

i {
    color: red;
}

.helight {
    color: gray;
    font-size: 1rem;
}

.price {
    color: red;
    font-size: 1rem;
}

h3 {
    color: red;
    position: absolute;
    margin-left: 10px;
}

.text {
    color: gray;
    font-size: 0.7rem;
    position: relative;
    margin-left: 50px;
}

#image {
    height: 100px;
    width: 100px;
    margin-left: 80px;
    margin-top: 50px;

}
.add {
    height: 200px;
    width: 250px;
    background-color: white;
    border-radius: 7px;
    margin-top: 5vh;
}
h2{
    position: sticky;
    margin-bottom: 20vh;
    
}
nav{
    width: 100vw;
    height: 4vh;
}