* {
    margin: 0;
    padding: 0;
}

body {

    background-color: black;
}

main {
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(5, 2fr);
    grid-template-rows: repeat(3, 150px);
    grid-row-gap: 15px;
    grid-column-gap: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}

div {
    background-color: white;
    border-radius: 7px;
    padding: 10px;
}

#image-1 {
    padding: 15px;
}

#image-2 {
    height: 190px;
    padding: 10px;
}

#image-3 {
    grid-row-start: span 2;
    padding: 15px;
}

#image-5 {
    grid-row-start: span 2;
}

#image-6 {
    grid-row-start: span 2;
}

#image-7 {
    margin-top: 70px;
    grid-row-start: span 2;
}

#image-9 {
    height: 250px;
    grid-row-start: span 2;
}

#image-10 {
    height: 300px;
    grid-row-start: span 1;
}

#image-11 {
    grid-row-start: span 2;
}