body {
    font-family: Arial;
    text-align: center;
}

h2 {
    margin-top: 20px;
}

input {
    padding: 8px;
    margin: 10px;
    width: 220px;
    border-radius: 5px;
    border: 1px solid gray;
}

.card {
    border: 1px solid black;
    margin: 10px;
    padding: 10px;
    width: 250px;
    display: inline-block;
    border-radius: 8px;
    background-color: #f9f9f9;
}